<div class="well">
  <div class="row" >
    <div class="col-xs-6 col-md-3">
      <%= image_tag gadget.pictures.first.attachment.url(:small) %>
      <div>
        <%= gadget.to_json %>
      </div>
    </div>
  </div>
</div>
